## Regular Expressions

Regular expressions are used for matching text patterns for searching, replacing and parsing text 
with complex patterns of characters.

Regexes are used for four main purposes - 
- To validate if a text meets some criteria; Ex. a zip code with 6 numeric digits 
- Search substrings. Ex. finding texts that ends with abc and does not contain any digits 
- Search & replace everywhere the match is found within a string; Ex. search "fixed deposit" and replace with "term deposit" 
- Split a string at each place the regex matches; Ex. split everywhere a @ is encountered

#### Raw python string

It is recommended that you use raw strings instead of regular Python strings. Raw strings begin with a prefix, r, placed before the quotes

In [ ]:
print("ABC \n PQR")

In [ ]:
print(r"ABC \n PQR")

In [ ]:
open(r"C:\users\newfolder\file.txt")

#### Importing re module

In [ ]:
import re

#### Functions in re Module
The "re" module offers functionalities that allow us to match/search/replace a string 

- `re.match()` - The match only if it occurs at the beginning of the string 
- `re.search()` - First occurrence of the match if there is a match anywhere in the string  
- `re.findall()` - Returns a list containing all matches in the string 
- `re.split()` - Returns a list where the string has been split at each match 
- `re.sub()` - Replaces one or many matches with a string 
- `re.finditer()` - Returns a collectable iterator yielding all non-overlapping matches

In [ ]:
text = "India celebrates its independence day on 15th August"
print(re.match(r"[A-z]+\b", text))  # returns a match object

In [ ]:
text = "15th August is celebrated as independence day in India"
print(re.match(r"[A-z]+\b", text))

In [ ]:
text = "India celebrates its independence day on 15th August"
print(re.search(r"[A-z]+\b", text))  # returns a match object

In [ ]:
text = "15th August is celebrated as independence day in India"
print(re.search(r"[A-z]+\b", text))

The **Match object** in Python's `re` module provides several useful methods to extract information about the match. It contains details about the match, such as the matched string, its position, and captured groups.

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
    <th>Method</th>
    <th>Description</th>
  </tr>
  </thead>
  <tr>
    <td><b>.group([group])</b></td>
    <td>Returns the matched string or a specific group if specified.</td>
  </tr>
  <tr>
    <td><b>.groups()</b></td>
    <td>Returns a tuple of all captured groups.</td>
  </tr>
  <tr>
    <td><b>.start([group])</b></td>
    <td>Returns the start index of the match or a group.</td>
  </tr>
  <tr>
    <td><b>.end([group])</b></td>
    <td>Returns the end index of the match or a group.</td>
  </tr>
  <tr>
    <td><b>.span([group])</b></td>
    <td>Returns a tuple `(start, end)` of the match or a group.</td>
  </tr>
  <tr>
    <td><b>.re</b></td>
    <td>Returns the regular expression pattern object.</td>
  </tr>
  <tr>
    <td><b>.string</b></td>
    <td>Returns the original string searched.</td>
  </tr>
  <tr>
    <td><b>.lastindex</b></td>
    <td>Returns the last captured group’s index.</td>
  </tr>
  <tr>
    <td><b>.lastgroup</b></td>
    <td>Returns the last captured group’s name if named groups are used.</td>
  </tr>
</table>

In [ ]:
# Example - 

import re

text = "India celebrates its independence day on 15th August and Republic day on 26th January"
match = re.search(r"[0-9]+", text)  # returns a match object

if match:
    print("Matched Text:", match.group())        
    print("Start Position:", match.start())     
    print("End Position:", match.end())         
    print("Span:", match.span())                
else:
    print("No match found.")

**Basic Characters**
- `^` - Matches the expression to its right at the start of a string. It matches every such 
instance before each line break in the string 
- `$` - Matches the expression to its left at the end of a string. It matches every such 
instance before each line break in the string 
- `p|q` - Matches expression p or q 

**Character Classes**

- `\w` - Matches alphanumeric characters: a-z, A-Z, 0-9 and _
- `\W` - Matches non-alphanumeric characters. Ignores a-z, A-Z, 0-9 and _
- `\d` - Matches digits: 0-9
- `\D` - Matches any non-digits 
- `\s` - Matches whitespace characters, which include the \t, \n, \r, and space characters 
- `\S` - Matches non-whitespace characters 
- `\A` - Matches the expression to its right at the absolute start of a string (in single or multi-line mode) 
- `\t` - Matches tab character
- `\Z` - Matches the expression to its left at the absolute end of a string (in single or multi-line mode) 
- `\n` - Matches a newline character 
- `\b` - Matches the word boundary at the start and end of a word 
- `\B` - Matches where \b does not, that is, non-word boundary

**Groups and Sets**

- `[abc]` - Matches either a, b, or c. It does not match abc
- `[a\-z]` - Matches a, -, or z. It matches - because \ escapes it 
- `[^abc]` - Adding ^ excludes any character in the set. Here, it matches characters that are  NOT a, b or c 
- `()` Matches the expression inside the parentheses and groups it
- `[a-zl` - Matches any alphabet from a to z 
- `[a-z0-9]` - Matches characters from a to z and O to 9 
- `[(+*)]` - Special characters become literal inside a set, so this matches ( + * and ) 
- `(?P=name)` - Matches the expression matched by an earlier group named "name"

**Quantifiers**

- `.` - Matches any character except newline 
- `?` - Matches the expression to its left O or 1 times 
- `{n}` - Matches the expression to its left n times 
- `(,m)` - Matches the expression to its left up to m times
- `*` - Matches the expression to its left O or more times 
- `+` - Matches the expression to its left 1 or more times 
- `{n,m}` - Matches the expression to its left n to m times 
- `{n, }` - Matches the expression to its left n or more times

#### Examples -

###### Ex. Extract all digits from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"
re.findall(r"\d", text)

###### Ex. Extract all numbers from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"
re.findall(r"\d+", text)

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"
re.findall(r"[0-9]+", text)

###### Ex. Retrive the dividend from the text

In [ ]:
text = "On 25th March, the company declared 17% dividend."
re.findall(r"[0-9]+%", text)

###### Ex. Retrieve all uppercase characters

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
re.findall(r"[A-Z]", text)

###### Ex. Retrive all stock names

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
re.findall(r"[A-Z]+\b", text)

###### Ex. Retrieve the phone numbers with country code only

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"
re.findall(r"\d+-\d+", text)

###### Ex. Retrieve the phone numbers with or without country code

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"
re.findall(r"\d+-\d+|\d+", text)

###### Ex. Retrieve the phone numbers without country code

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"
re.findall(r"\d{3,}", text)

###### Ex. Retrieve the zip codes with 2 alphabets in the beginning

In [ ]:
text = "The zipcodes are AB4567, TX23A3, 310120, NY1210, 734001 "
re.findall(r"[A-Z]{2}\d+\b", text)

In [ ]:
text = "The zipcodes are AB4567, TX23A3, 310120, NY1210, 734001 "
re.findall(r"[A-Z]{2}\w+\b", text)

###### Ex. Replace values as given in the dict

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
repl_dict = {"AAPL": "APPLE", "GOOGL": "GOOGLE"}
re.sub(r"[A-Z]+\b", "*", text)

In [ ]:
help(re.sub)

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
repl_func = lambda var : repl_dict.get(var.group(),var.group()) 
re.sub(r"[A-Z]+\b", repl_func, text)

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
mch_obj = re.search(r"[A-Z]+\b", text)
mch_obj

In [ ]:
mch_obj.group()

In [ ]:
lst = ["train", "bike"]
sorted(lst, key = len)

In [ ]:
for i in lst:
    key(i)

<hr><hr>

## Handling data from external sources

#### Introduction to OS module

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.chdir(r"C:\Users\vaide\OneDrive - knowledgecorner.in\Course Material\Clients\Oracle\Oracle_Jun_25\Oracle_Jun_25\dataset")

In [ ]:
os.getcwd()

##### Note - set the path only if the files to connect are in another folder

In [ ]:
!pip install SQLAlchemy
!pip install pandas
!pip install requests

### DataBase Source

In [ ]:
!pip install SQLAlchemy
!pip install pymysql
!pip install cx_Oracle

- Syntax - dialect+driver://username:password@host:port/database
            
- Mysql - "mysql+pymysql://root:1234@localhost:3306/onlineshopping"
- Oracle - "oracle+cx_oracle://s:t@dsn"

#### Data Connection

In [ ]:
os.getcwd()

In [ ]:
os.listdir(os.getcwd())

##### Note - check path in above output is same as where employe.sqlite3 file is present

In [ ]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///employee.sqlite3") # Creates a new file if not present
conn = engine.connect()
conn

#### Select Clause

In [ ]:
emp = conn.execute(text("select * from Employee")).fetchall() # Extract all the data
emp

In [ ]:
emp = conn.execute(text("select * from Employee")).fetchone() # Extract data for 1st emp
emp

#### Insert - Update - Delete

In [ ]:
curr = conn.execute(text("Insert into Employee values (30, 'Jane', 90000, 'Manager', 45)")) # Insert Query
curr

In [ ]:
conn.execute(text("select * from Employee")).fetchall()

In [ ]:
curr = conn.execute(text("delete from Employee where Name = 'Jane'"))  # Delete Query

In [ ]:
curr = conn.execute(text("select * from Employee"))
curr.keys()  # Return the names of all columns

#### Working with database using pandas library

In [ ]:
import pandas as pd
df = pd.read_sql_table("Employee", conn) # Extract by table name
df

In [ ]:
df = pd.read_sql_query(text("Select * from Employee where Designation = 'Manager'"), conn) # Extract by query
df

#### Data Manipulation using pandas

### HTTPS Requests

In [ ]:
!pip install requests

In [ ]:
response = requests.get(r"http://127.0.0.1:5000/tasks")
response

In [ ]:
response.json()

###### Ex. Reading data from customer file located on github

In [ ]:
import requests

response = requests.get(r"https://raw.githubusercontent.com/knowledge-corner/Oracle_Jun_25/refs/heads/main/dataset/customers.txt")
response

In [ ]:
response.text

### File Source 

- The key function for working with files in Python is the `open()` function.

- The `open()` function takes two parameters; filename, and mode.

- There are four different methods (modes) for opening a file:

    - "r" - Read - Default value. Opens a file for reading, error if the file does not exist

    - "a" - Append - Opens a file for appending, creates the file if it does not exist

    - "w" - Write - Opens a file for writing, creates the file if it does not exist

###### Ex. Read file `customers.txt`

In [ ]:
file = open("customers.txt")
text = file.read()

In [ ]:
data = text.split("\n")

###### Ex. Print numbers of lines in the file

In [ ]:
len(data)

###### Ex. Clean data read from the file and extract information about all `Pilots`.

In [ ]:
def clean_data(strg) :
    cust = strg.split(",")
    cust[3] = int(cust[3])
    return tuple(cust)

In [ ]:
customers = list(map(clean_data, data))
customers

###### Ex. Create a list of Pilots (HINT - use filter())

In [ ]:
pilots = list(filter(lambda cust : cust[4] == "Pilot", customers))
len(pilots)

In [ ]:
pilots = [cust[1] for cust in customers if cust[4] == "Pilot"]
len(pilots)

###### Ex. Create a list of senior citizens from customers

In [ ]:
seniors = list(filter(lambda cust : cust[3] >= 60, customers))
len(seniors)

###### Ex. Display the list of pilots in ASC of their age (HINT- use sorted() with key as func object)

In [ ]:
sorted(customers, key = lambda cust : cust[3])

##### Note - sorted() sorts the tuples, to sort the tuples based on specific index position use key = func_obj

#### Using `with` keyword to read data and write data

In [ ]:
with open("pilots.txt", "w") as file :
    for cust in pilots :
        file.write(",".join(map(str, cust))+"\n")

###### Ex. Store the data in the form of customer objects

In [ ]:
class Customer :

    def __init__(self, c_id, fname, lname, age, prof) :
        self.c_id = int(c_id)
        self.name = fname + " " + lname
        self.age = int(age)
        self.profession = prof

In [ ]:
text = open(r"customers.txt").read()
data = text.split("\n")

In [ ]:
def clean_data(strg) :
    return Customer(*strg.split(","))

cust = clean_data(data[1])
cust.name

In [ ]:
customers = list(map(clean_data, data))

In [ ]:
customers = list(map(lambda strg : Customer(*strg.split(",")), data))

In [ ]:
pilots = list(filter(lambda cust : cust.profession == "Pilot", customers))
len(pilots)

In [153]:
# Final code - 
class Customer :
    def __init__(self, c_id, fname, lname, age, prof) :
        self.c_id = int(c_id)
        self.name = fname + " " + lname
        self.age = int(age)
        self.profession = prof

    def __repr__(self):
        return f"{self.name} - {self.age}"

    def __str__(self):
        return f"{self.name} - {self.age} - {self.profession}"

    def __gt__(self, obj) :
        return self.name > obj.name

        
customers = list(map(lambda strg : Customer(*strg.split(",")), data))

###### Ex. Display the customers name while printing the list of customer objects

In [ ]:
print(customers)  # calls __repr__()

###### Ex. Display customer name, age and profession when single customer object is printed using print()

In [ ]:
customers[0]   # calls __repr__()

In [ ]:
print(customers[0])  # internally calls __str__() from the class

In [ ]:
# __str__() is also used to convert an object into str() format/type

In [ ]:
x = customers[0]
type(x)

In [ ]:
y = str(x)
y

In [ ]:
type(y)

###### Ex. Sort the customers

In [155]:
customers[0] < customers[1]

True

In [156]:
sorted(customers)

[Aaron Brandon - 67,
 Aaron Carpenter - 60,
 Aaron Dalton - 38,
 Aaron King - 73,
 Aaron Kirkland - 32,
 Aaron Lawrence - 33,
 Aaron Li - 38,
 Aaron McKenzie - 27,
 Aaron McLamb - 70,
 Aaron McLean - 35,
 Aaron Moody - 73,
 Aaron Pugh - 68,
 Aaron Simmons - 72,
 Aaron Woods - 58,
 Adam Atkinson - 53,
 Adam Brown - 41,
 Adam Butler - 35,
 Adam Bynum - 73,
 Adam Camp - 71,
 Adam Carroll - 27,
 Adam Hardy - 72,
 Adam Link - 64,
 Adam Lu - 74,
 Adam Mathews - 50,
 Adam Mayo - 51,
 Adam McKenzie - 32,
 Adam O'Connor - 58,
 Adam Rodgers - 72,
 Adam Washington - 54,
 Adam Werner - 55,
 Adam Woodard - 39,
 Alan Beatty - 43,
 Alan Boyle - 25,
 Alan Brandt - 43,
 Alan Erickson - 57,
 Alan Howell - 38,
 Alan Humphrey - 59,
 Alan Levin - 43,
 Alan McConnell - 25,
 Alan Meadows - 55,
 Alan O'Neal - 59,
 Alan Pollard - 31,
 Alan Reilly - 54,
 Alan Shah - 29,
 Alan Sutton - 67,
 Alan Webb - 32,
 Alan West - 58,
 Albert Brandon - 35,
 Albert Brock - 41,
 Albert Cooke - 70,
 Albert Dillon - 65,
 Albert Dorsey - 60,
 Albert Ellis - 24,
 Albert Higgins - 23,
 Albert Horne - 60,
 Albert Jain - 43,
 Albert Jenkins - 57,
 Albert Pridgen - 55,
 Albert Reilly - 70,
 Albert Spears - 65,
 Albert Stanton - 47,
 Albert Stuart - 65,
 Albert Wiley - 27,
 Alex Ball - 40,
 Alex Barnett - 41,
 Alex Beard - 71,
 Alex Blake - 40,
 Alex Bray - 31,
 Alex Buckley - 38,
 Alex Cole - 68,
 Alex Craven - 69,
 Alex Dean - 72,
 Alex Grady - 29,
 Alex Henry - 67,
 Alex Hernandez - 46,
 Alex Jacobson - 70,
 Alex Koch - 56,
 Alex Leach - 22,
 Alex Lutz - 29,
 Alex Mangum - 34,
 Alex May - 39,
 Alex Mayo - 75,
 Alex McLeod - 30,
 Alex Parrott - 30,
 Alex Richards - 66,
 Alex Shields - 29,
 Alex Swain - 33,
 Alex Vick - 34,
 Alex Yang - 62,
 Alexander Blake - 68,
 Alexander Britt - 52,
 Alexander Carver - 28,
 Alexander Desai - 55,
 Alexander Dickinson - 74,
 Alexander Forbes - 71,
 Alexander Franklin - 52,
 Alexander Gray - 35,
 Alexander Hensley - 37,
 Alexander Howe - 57,
 Alexander Hull - 34,
 Alexander Kramer - 40,
 Alexander Lucas - 67,
 Alexander McGuire - 62,
 Alexander McLean - 55,
 Alexander Page - 65,
 Alexander Pickett - 69,
 Alexander Watson - 64,
 Alexander Williams - 60,
 Alexandra Adams - 40,
 Alexandra Barnett - 53,
 Alexandra Chase - 33,
 Alexandra Church - 62,
 Alexandra Cole - 52,
 Alexandra Cox - 43,
 Alexandra Decker - 28,
 Alexandra Gentry - 33,
 Alexandra Hansen - 38,
 Alexandra Helms - 28,
 Alexandra Henderson - 30,
 Alexandra Hudson - 34,
 Alexandra Johnson - 63,
 Alexandra Kuhn - 73,
 Alexandra Lane - 29,
 Alexandra Lassiter - 54,
 Alexandra Marsh - 39,
 Alexandra Pennington - 34,
 Alexandra Small - 35,
 Alexandra Snyder - 43,
 Alexandra Thomson - 70,
 Alexandra Warren - 66,
 Alexandra Weiss - 29,
 Alfred Burton - 30,
 Alfred Chen - 71,
 Alfred Clements - 62,
 Alfred Davenport - 59,
 Alfred Duke - 39,
 Alfred Fletcher - 67,
 Alfred Gray - 35,
 Alfred Griffith - 40,
 Alfred Haynes - 36,
 Alfred Kahn - 48,
 Alfred Koch - 62,
 Alfred Kuhn - 65,
 Alfred McKenzie - 30,
 Alfred Nixon - 28,
 Alfred Randall - 72,
 Alfred Reddy - 42,
 Alfred Schultz - 43,
 Alfred Steele - 64,
 Alice Beck - 35,
 Alice Blanchard - 73,
 Alice Bland - 40,
 Alice Blum - 67,
 Alice Britt - 50,
 Alice Buck - 63,
 Alice Crowder - 72,
 Alice Davis - 36,
 Alice Dickinson - 58,
 Alice Dyer - 31,
 Alice Eaton - 32,
 Alice Faulkner - 63,
 Alice Garrett - 25,
 Alice Hall - 33,
 Alice Herman - 40,
 Alice Hill - 29,
 Alice Jacobson - 72,
 Alice Jordan - 62,
 Alice Merritt - 65,
 Alice Nance - 59,
 Alice Norton - 38,
 Alice O'Connell - 30,
 Alice Reddy - 26,
 Alice Robbins - 59,
 Alice Shah - 30,
 Alice Steele - 71,
 Alicia Beasley - 44,
 Alicia Berg - 44,
 Alicia Brantley - 47,
 Alicia Coble - 34,
 Alicia Conner - 55,
 Alicia Dunlap - 63,
 Alicia Hanna - 54,
 Alicia Henderson - 53,
 Alicia Higgins - 65,
 Alicia House - 67,
 Alicia Ingram - 63,
 Alicia Justice - 56,
 Alicia McKenzie - 47,
 Alicia Rao - 68,
 Alicia Stark - 28,
 Alicia Turner - 54,
 Alison Barr - 36,
 Alison Benton - 29,
 Alison Blair - 56,
 Alison Burton - 54,
 Alison Greenberg - 35,
 Alison Heath - 55,
 Alison Leach - 55,
 Alison MacDonald - 26,
 Alison McNeill - 65,
 Alison Murphy - 30,
 Alison Newell - 67,
 Alison Patton - 40,
 Alison Perkins - 41,
 Alison Rollins - 70,
 Alison Scarborough - 66,
 Alison Scott - 29,
 Alison Wilkinson - 52,
 Alison Womble - 56,
 Allan Bond - 23,
 Allan Daniel - 57,
 Allan Deal - 49,
 Allan Glenn - 39,
 Allan Marsh - 67,
 Allan Melvin - 58,
 Allan Nguyen - 51,
 Allan Norton - 67,
 Allan Vaughan - 48,
 Allan Wilder - 43,
 Allen Baird - 39,
 Allen Christian - 34,
 Allen Craven - 64,
 Allen Faircloth - 39,
 Allen Floyd - 74,
 Allen Goldstein - 34,
 Allen Hansen - 33,
 Allen Hobbs - 43,
 Allen Massey - 26,
 Allen Mayer - 41,
 Allen Norton - 70,
 Allen Paul - 70,
 Allen Peterson - 31,
 Allen Pollock - 38,
 Allen Randall - 27,
 Allen Ritchie - 57,
 Allen Ross - 75,
 Allen Sanchez - 59,
 Allen Sun - 61,
 Allen Teague - 44,
 Allen Weiss - 38,
 Allen Williams - 28,
 Allen Winters - 38,
 Allison Adams - 22,
 Allison Alford - 38,
 Allison Buckley - 72,
 Allison Burns - 28,
 Allison Choi - 23,
 Allison Epstein - 54,
 Allison Greer - 60,
 Allison Hardy - 74,
 Allison Herbert - 63,
 Allison Hodge - 29,
 Allison Lindsay - 29,
 Allison May - 44,
 Allison Norman - 25,
 Allison Parsons - 56,
 Allison Robbins - 51,
 Allison Stanley - 55,
 Allison Wells - 65,
 Allison Whitley - 74,
 Allison Willard - 73,
 Alvin Frazier - 45,
 Alvin Frederick - 27,
 Alvin Hines - 72,
 Alvin Joyner - 44,
 Alvin Lambert - 23,
 Alvin McCall - 38,
 Alvin McDonald - 73,
 Alvin McKenna - 27,
 Alvin McKenzie - 62,
 Alvin Meadows - 39,
 Alvin Middleton - 25,
 Alvin Norman - 50,
 Alvin Rouse - 68,
 Alvin Scarborough - 36,
 Alvin Whitley - 44,
 Alvin Winters - 75,
 Amanda Chase - 53,
 Amanda Godfrey - 39,
 Amanda Grimes - 31,
 Amanda Hall - 69,
 Amanda Holmes - 48,
 Amanda Hubbard - 59,
 Amanda Hwang - 51,
 Amanda Kent - 53,
 Amanda Kirby - 24,
 Amanda Larson - 26,
 Amanda Lutz - 28,
 Amanda MacDonald - 35,
 Amanda Mathews - 57,
 Amanda McIntosh - 38,
 Amanda Owen - 34,
 Amanda Reese - 39,
 Amanda Shannon - 72,
 Amanda Todd - 59,
 Amy Adkins - 74,
 Amy Barry - 28,
 Amy Bass - 30,
 Amy Boyle - 58,
 Amy Brandt - 37,
 Amy Bridges - 37,
 Amy Dudley - 51,
 Amy George - 67,
 Amy Gould - 72,
 Amy Hauser - 37,
 Amy Holt - 32,
 Amy Langley - 30,
 Amy Larson - 49,
 Amy Lester - 26,
 Amy Lynch - 36,
 Amy McKenna - 53,
 Amy Miller - 26,
 Amy Norman - 62,
 Amy Pappas - 42,
 Amy Peters - 27,
 Amy Reid - 55,
 Amy Singer - 30,
 Amy Stroud - 59,
 Amy Underwood - 63,
 Andrea Alston - 30,
 Andrea Braun - 53,
 Andrea Cherry - 43,
 Andrea Combs - 65,
 Andrea Desai - 33,
 Andrea Dolan - 65,
 Andrea Hampton - 71,
 Andrea Hernandez - 53,
 Andrea Horton - 59,
 Andrea Lyons - 56,
 Andrea Marcus - 40,
 Andrea Powell - 57,
 Andrea Price - 59,
 Andrea Rao - 66,
 Andrea Reese - 40,
 Andrea Stein - 29,
 Andrea Walter - 63,
 Andrea Warren - 71,
 Andrea Wyatt - 30,
 Andrew Bolton - 71,
 Andrew Bowen - 36,
 Andrew Briggs - 45,
 Andrew Chan - 63,
 Andrew Cho - 58,
 Andrew Haas - 36,
 Andrew Hancock - 34,
 Andrew Honeycutt - 54,
 Andrew Lang - 71,
 Andrew Larson - 57,
 Andrew Martin - 35,
 Andrew May - 43,
 Andrew McAllister - 22,
 Andrew Meadows - 28,
 Andrew Merritt - 40,
 Andrew Meyers - 61,
 Andrew Pugh - 67,
 Andrew Rowland - 27,
 Andrew Weiner - 69,
 Andrew Whitfield - 35,
 Andrew Young - 32,
 Angela Alexander - 23,
 Angela Brandon - 63,
 Angela Cherry - 29,
 Angela Deal - 30,
 Angela Duke - 57,
 Angela Haas - 29,
 Angela Hwang - 71,
 Angela Jernigan - 27,
 Angela Koch - 36,
 Angela McGee - 69,
 Angela McKnight - 50,
 Angela McMahon - 66,
 Angela O'Donnell - 35,
 Angela Price - 56,
 Angela Quinn - 55,
 Angela Rice - 67,
 Angela Short - 41,
 Angela Starr - 65,
 Angela Stephens - 53,
 Angela Stuart - 61,
 Angela Thomas - 70,
 Angela Thornton - 73,
 Angela Turner - 26,
 Angela Wilder - 31,
 Angela Wilkinson - 67,
 Anita Buckley - 41,
 Anita Eason - 56,
 Anita Ennis - 71,
 Anita Grossman - 54,
 Anita Han - 46,
 Anita Hayes - 46,
 Anita Hedrick - 63,
 Anita Hess - 62,
 Anita Hester - 47,
 Anita Honeycutt - 57,
 Anita Humphrey - 26,
 Anita King - 68,
 Anita Lancaster - 49,
 Anita Merrill - 39,
 Anita Nolan - 36,
 Anita Rankin - 70,
 Anita Riggs - 35,
 Ann Bishop - 63,
 Ann Branch - 75,
 Ann Braswell - 27,
 Ann Byrd - 39,
 Ann Carlson - 34,
 Ann Chandler - 25,
 Ann Chase - 69,
 Ann Clayton - 56,
 Ann Harding - 54,
 Ann Hunt - 71,
 Ann Lanier - 61,
 Ann Myers - 52,
 Ann O'Connell - 56,
 Ann Peck - 34,
 Ann Starr - 39,
 Ann Sun - 45,
 Ann Underwood - 74,
 Ann Wilson - 29,
 Ann Wright - 61,
 Anna Anthony - 46,
 Anna Britt - 71,
 Anna Bruce - 22,
 Anna Chan - 64,
 Anna Chang - 45,
 Anna Chen - 66,
 Anna Clarke - 35,
 Anna Creech - 35,
 Anna Garrett - 55,
 Anna Griffin - 47,
 Anna Gunter - 30,
 Anna Harrell - 41,
 Anna Hunter - 74,
 Anna Nguyen - 68,
 Anna Owens - 41,
 Anna Pollard - 38,
 Anna Pope - 52,
 Anna Sawyer - 73,
 Anna Walsh - 62,
 Anna Whitfield - 59,
 Anna Wilcox - 33,
 Anne Armstrong - 33,
 Anne Baker - 39,
 Anne Benton - 44,
 Anne Boyd - 31,
 Anne Brennan - 70,
 Anne Cline - 63,
 Anne Cole - 52,
 Anne Ferguson - 62,
 Anne Gillespie - 32,
 Anne Greer - 26,
 Anne Hill - 68,
 Anne Kaufman - 73,
 Anne Kennedy - 53,
 Anne Little - 64,
 Anne Locklear - 48,
 Anne McKee - 29,
 Anne Morrison - 70,
 Anne Poole - 73,
 Anne Price - 32,
 Anne Singer - 65,
 Anne Stephens - 63,
 Anne Teague - 63,
 Anne Thomson - 42,
 Anne Watts - 66,
 Annette Allison - 44,
 Annette Chu - 39,
 Annette Hahn - 22,
 Annette Hamilton - 56,
 Annette Horner - 27,
 Annette Hoyle - 27,
 Annette Huffman - 48,
 Annette Humphrey - 62,
 Annette Kane - 33,
 Annette Lane - 21,
 Annette Lyon - 47,
 Annette Nance - 57,
 Annette Schneider - 30,
 Annette Starr - 38,
 Annette Terrell - 74,
 Annette Terry - 29,
 Annette Ward - 59,
 Annette White - 56,
 Annette Whitley - 62,
 Annie Barry - 47,
 Annie Bowen - 49,
 Annie Bowling - 57,
 Annie Buck - 55,
 Annie Dougherty - 34,
 Annie Frederick - 44,
 Annie Frye - 67,
 Annie Haynes - 51,
 Annie Heath - 33,
 Annie Holden - 36,
 Annie Holland - 57,
 Annie Jackson - 30,
 Annie Jennings - 35,
 Annie Knowles - 27,
 Annie Lim - 27,
 Annie Lindsay - 38,
 Annie Lucas - 25,
 Annie Parks - 48,
 Annie Pugh - 22,
 Annie Sawyer - 53,
 Annie Sharpe - 33,
 Annie Snow - 29,
 Annie Thompson - 57,
 Annie Werner - 41,
 Anthony Britt - 69,
 Anthony Buckley - 27,
 Anthony Christian - 59,
 Anthony Cobb - 38,
 Anthony Fink - 57,
 Anthony Hamrick - 65,
 Anthony Hutchinson - 24,
 Anthony Kumar - 73,
 Anthony Lamm - 63,
 Anthony Lewis - 71,
 Anthony Logan - 67,
 Anthony Perkins - 63,
 Anthony Tyler - 72,
 Anthony Tyson - 38,
 Anthony Wallace - 53,
 April Barton - 31,
 April Blackwell - 61,
 April Connolly - 38,
 April Copeland - 56,
 April Davies - 56,
 April Edwards - 73,
 April Ellis - 63,
 April Faircloth - 45,
 April Gardner - 27,
 April Garner - 45,
 April Grady - 53,
 April Gregory - 42,
 April Holt - 48,
 April James - 45,
 April Link - 48,
 April Manning - 33,
 April Martinez - 44,
 April Saunders - 74,
 April Stafford - 73,
 Arlene Armstrong - 27,
 Arlene Atkinson - 48,
 Arlene Becker - 40,
 Arlene Best - 31,
 Arlene Blanton - 39,
 Arlene Brown - 58,
 Arlene Case - 62,
 Arlene Chappell - 30,
 Arlene Goldman - 62,
 Arlene Gordon - 43,
 Arlene Gray - 51,
 Arlene Hendrix - 36,
 Arlene Hess - 48,
 Arlene Higgins - 62,
 Arlene Horn - 66,
 Arlene Huang - 68,
 Arlene Lyon - 47,
 Arlene McLeod - 41,
 Arlene Michael - 64,
 Arlene O'Donnell - 53,
 Arlene Orr - 63,
 Arlene Palmer - 49,
 Arlene Porter - 71,
 Arlene Rose - 42,
 Arlene Wang - 63,
 Arlene Wood - 29,
 Arnold Albright - 51,
 Arnold Berry - 53,
 Arnold Burke - 70,
 Arnold Cates - 42,
 Arnold Chen - 51,
 Arnold Creech - 25,
 Arnold Daniels - 42,
 Arnold Day - 39,
 Arnold Doyle - 40,
 Arnold Flowers - 68,
 Arnold Fuller - 72,
 Arnold Godfrey - 36,
 Arnold Harrell - 57,
 Arnold Hoffman - 60,
 Arnold Holmes - 49,
 Arnold Hunt - 47,
 Arnold Lin - 59,
 Arnold Mueller - 38,
 Arnold Pearson - 30,
 Arnold Simon - 36,
 Arnold Walton - 69,
 Arnold Washington - 56,
 Arnold West - 28,
 Arthur Bell - 74,
 Arthur Bender - 69,
 Arthur Berger - 40,
 Arthur Buckley - 32,
 Arthur Cheek - 32,
 Arthur Chu - 54,
 Arthur Coble - 66,
 Arthur Glass - 74,
 Arthur Gold - 59,
 Arthur Goldberg - 43,
 Arthur Goldman - 58,
 Arthur Hampton - 74,
 Arthur Harrington - 29,
 Arthur Hawkins - 67,
 Arthur Holden - 61,
 Arthur Kramer - 68,
 Arthur Lucas - 53,
 Arthur McCarthy - 27,
 Arthur McCullough - 45,
 Arthur McKenna - 38,
 Arthur Shannon - 26,
 Arthur Singer - 60,
 Arthur Willis - 32,
 Arthur Wolf - 60,
 Ashley Beatty - 46,
 Ashley Berry - 70,
 Ashley Brady - 43,
 Ashley Brandon - 35,
 Ashley Christian - 24,
 Ashley Coble - 75,
 Ashley Corbett - 58,
 Ashley Creech - 38,
 Ashley Dale - 34,
 Ashley Dalton - 39,
 Ashley Dixon - 51,
 Ashley Gupta - 61,
 Ashley Hendrix - 50,
 Ashley Houston - 24,
 Ashley McGee - 61,
 Ashley Norton - 62,
 Ashley Page - 50,
 Ashley Pearson - 52,
 Ashley Ross - 69,
 Ashley Thomas - 64,
 Ashley Townsend - 56,
 Ashley Webster - 53,
 Ashley Wright - 71,
 Ashley Xu - 37,
 Audrey Block - 39,
 Audrey Bryant - 57,
 Audrey Chan - 38,
 Audrey Cross - 74,
 Audrey Diaz - 52,
 Audrey English - 26,
 Audrey Field - 70,
 Audrey Forrest - 50,
 Audrey Garcia - 26,
 Audrey Gentry - 41,
 Audrey Gray - 42,
 Audrey Hansen - 35,
 Audrey Kelly - 75,
 Audrey Kern - 50,
 Audrey Lanier - 54,
 Audrey Law - 23,
 Audrey Long - 29,
 Audrey Morrison - 34,
 Audrey Olsen - 30,
 Audrey Olson - 36,
 Audrey Padgett - 48,
 Audrey Schwartz - 57,
 Audrey West - 27,
 Audrey Williford - 38,
 Audrey Woodward - 75,
 Barbara Bean - 69,
 Barbara Bernstein - 63,
 Barbara Blalock - 45,
 Barbara Clayton - 43,
 Barbara Creech - 59,
 Barbara Erickson - 36,
 Barbara Hardin - 71,
 Barbara Herbert - 45,
 Barbara McKenna - 47,
 Barbara Morgan - 53,
 Barbara Moss - 70,
 Barbara Pierce - 73,
 Barbara Pritchard - 72,
 Barbara Rose - 74,
 Barbara Smith - 58,
 Barry Barr - 52,
 Barry Bowles - 21,
 Barry Fox - 43,
 Barry Gordon - 58,
 Barry Guthrie - 53,
 Barry King - 35,
 Barry Maynard - 53,
 Barry Mitchell - 66,
 Barry Sykes - 34,
 Barry Thompson - 64,
 Becky Bailey - 24,
 Becky Covington - 35,
 Becky Diaz - 63,
 Becky English - 27,
 Becky Fischer - 70,
 Becky Henry - 43,
 Becky Herndon - 45,
 Becky Hull - 26,
 Becky Kay - 51,
 Becky Kennedy - 65,
 Becky Lewis - 52,
 Becky Martinez - 28,
 Becky May - 56,
 Becky McKinney - 63,
 Becky Moser - 39,
 Becky Newton - 42,
 Becky Parsons - 49,
 Becky Sherman - 48,
 Becky Wolfe - 67,
 Ben Banks - 60,
 Ben Bender - 55,
 Ben Bennett - 58,
 Ben Blackwell - 64,
 Ben Bowling - 31,
 Ben Burton - 54,
 Ben Chapman - 62,
 Ben Frazier - 34,
 Ben George - 72,
 Ben McKenzie - 50,
 Ben Murphy - 32,
 Ben Patton - 40,
 Ben Proctor - 32,
 Ben Puckett - 25,
 Ben Roy - 68,
 Ben Stephens - 38,
 Ben West - 64,
 Ben Whitaker - 35,
 Ben Williams - 43,
 Ben Wu - 51,
 Benjamin Atkinson - 32,
 Benjamin Ballard - 56,
 Benjamin Blackburn - 52,
 Benjamin Crabtree - 64,
 Benjamin Daniel - 52,
 Benjamin Finley - 44,
 Benjamin French - 36,
 Benjamin Hall - 28,
 Benjamin Hart - 54,
 Benjamin Hensley - 37,
 Benjamin Justice - 64,
 Benjamin Kelly - 62,
 Benjamin Lambert - 63,
 Benjamin Moody - 22,
 Benjamin Park - 44,
 Benjamin Pennington - 41,
 Benjamin Pitts - 28,
 Benjamin Quinn - 27,
 Benjamin Roach - 36,
 Benjamin Rowe - 64,
 Benjamin Sanchez - 66,
 Benjamin Simmons - 70,
 Benjamin Stallings - 67,
 Benjamin Sutton - 30,
 Benjamin Waller - 35,
 Benjamin Willis - 67,
 Benjamin Wood - 25,
 Benjamin York - 70,
 Bernard Adams - 53,
 Bernard Booth - 26,
 Bernard Bowers - 38,
 Bernard Coley - 32,
 Bernard Goodman - 43,
 Bernard Johnson - 69,
 Bernard Kang - 33,
 Bernard Kerr - 21,
 Bernard McCarthy - 41,
 Bernard Morse - 67,
 Bernard Moser - 38,
 Bernard Pate - 34,
 Bernard Price - 54,
 Bernard Reilly - 56,
 Bernard Schultz - 38,
 Bernard Zhou - 65,
 Bernice Day - 61,
 Bernice Douglas - 26,
 Bernice Fleming - 34,
 Bernice Gardner - 58,
 Bernice Lanier - 74,
 Bernice Lawrence - 36,
 Bernice Lindsay - 54,
 Bernice McCoy - 58,
 Bernice Nguyen - 30,
 Bernice Parks - 43,
 Bernice Powell - 27,
 Bernice Richardson - 71,
 Bernice Stark - 57,
 Beth Cho - 57,
 Beth Conner - 37,
 Beth Dodson - 36,
 Beth Donnelly - 43,
 Beth Fitzgerald - 69,
 Beth Gonzalez - 41,
 Beth Hayes - 59,
 Beth Horowitz - 35,
 Beth Howe - 44,
 Beth Lin - 41,
 Beth McClure - 60,
 Beth McKenna - 40,
 Beth Morrow - 69,
 Beth Oakley - 21,
 Beth Rubin - 38,
 Beth Scott - 40,
 Beth Snow - 70,
 Beth Strauss - 35,
 Beth Swanson - 64,
 Beth Walton - 73,
 Beth Weber - 38,
 Beth Willis - 62,
 Beth Woodard - 65,
 Betsy Alford - 53,
 Betsy Beatty - 32,
 Betsy Bradford - 38,
 Betsy Brandon - 64,
 Betsy Burke - 43,
 Betsy Byers - 53,
 Betsy Carr - 38,
 Betsy Casey - 70,
 Betsy Chang - 54,
 Betsy Cochran - 48,
 Betsy Connolly - 39,
 Betsy Denton - 46,
 Betsy Epstein - 63,
 Betsy Hampton - 71,
 Betsy Heath - 60,
 Betsy Hudson - 42,
 Betsy McCullough - 67,
 Betsy McLean - 41,
 Betsy McMahon - 60,
 Betsy Nash - 59,
 Betsy Nelson - 36,
 Betsy Rivera - 45,
 Betsy Schneider - 34,
 Betsy Singh - 35,
 Betsy Skinner - 36,
 Betsy Snow - 40,
 Betsy Tuttle - 35,
 Betty Albright - 64,
 Betty Bass - 32,
 Betty Bond - 50,
 Betty Campbell - 62,
 Betty Carlton - 66,
 Betty Chapman - 54,
 Betty Fleming - 25,
 Betty Gates - 51,
 Betty Grady - 73,
 Betty Hansen - 64,
 Betty Lopez - 51,
 Betty Love - 34,
 Betty McGee - 68,
 Betty McKenzie - 45,
 Betty Noble - 68,
 Betty Norman - 49,
 Betty Rankin - 62,
 Betty Stout - 57,
 Betty Waters - 44,
 Beverly Bean - 62,
 Beverly Boyd - 29,
 Beverly Bryant - 71,
 Beverly Carter - 54,
 Beverly Chang - 73,
 Beverly Davenport - 34,
 Beverly Finch - 48,
 Beverly Frank - 54,
 Beverly Graves - 47,
 Beverly Joseph - 60,
 Beverly Long - 33,
 Beverly Lutz - 29,
 Beverly Maxwell - 29,
 Beverly McLaughlin - 74,
 Beverly Spivey - 32,
 Beverly Stanley - 54,
 Beverly Sutherland - 44,
 Bill Boyette - 75,
 Bill Collins - 30,
 Bill Cross - 63,
 Bill Edwards - 63,
 Bill Elmore - 22,
 Bill Heath - 35,
 Bill Klein - 26,
 Bill Lehman - 58,
 Bill Mullen - 59,
 Bill Oakley - 33,
 Bill Roberson - 26,
 Bill Schroeder - 68,
 Bill Strickland - 72,
 Bill Watts - 58,
 Bill Wiggins - 63,
 Billie Berry - 62,
 Billie Bullard - 63,
 Billie Dawson - 64,
 Billie Durham - 31,
 Billie Farmer - 75,
 Billie Fuller - 38,
 Billie Grady - 46,
 Billie Herring - 57,
 Billie Hester - 70,
 Billie House - 48,
 Billie Mayer - 36,
 Billie Miller - 43,
 Billie Moss - 65,
 Billie Pierce - 49,
 Billie Rosenthal - 66,
 Billie Sanford - 41,
 Billie Sharma - 38,
 Billie Sutherland - 65,
 Billie Tucker - 36,
 Billie Ward - 43,
 Billy Brooks - 26,
 Billy Bryan - 36,
 Billy Carroll - 27,
 Billy Denton - 40,
 Billy High - 39,
 Billy Holder - 54,
 Billy Horton - 33,
 Billy Li - 69,
 Billy Mitchell - 53,
 Billy Pritchard - 57,
 Billy Roberson - 61,
 Billy Rodgers - 60,
 Billy Sherrill - 60,
 Billy Strauss - 61,
 Billy Teague - 42,
 Billy Tilley - 52,
 Billy Wade - 35,
 Billy Wang - 25,
 Bob Cole - 48,
 Bob Denton - 59,
 Bob Fischer - 71,
 Bob Frye - 54,
 Bob Gilbert - 42,
 Bob Harding - 40,
 Bob Harrell - 40,
 Bob Herndon - 68,
 Bob Jacobs - 24,
 Bob Jones - 40,
 Bob McKinney - 74,
 Bob Nichols - 38,
 Bob Pugh - 70,
 Bob Robertson - 38,
 Bob Roth - 70,
 Bob Schroeder - 68,
 Bob Sutton - 64,
 Bob Tate - 63,
 Bob Walter - 72,
 Bobby Ashley - 74,
 Bobby Blum - 68,
 Bobby Bradley - 66,
 Bobby Case - 38,
 Bobby Cho - 45,
 Bobby Fitzgerald - 46,
 Bobby Gray - 43,
 Bobby Harrell - 53,
 Bobby Hill - 52,
 Bobby Hines - 26,
 Bobby Hsu - 31,
 Bobby Lane - 38,
 Bobby Mann - 67,
 Bobby Rao - 67,
 Bobby Sawyer - 26,
 Bobby Walter - 61,
 Bobby Williamson - 74,
 Bobby Zhu - 63,
 Bonnie Baird - 51,
 Bonnie Ballard - 65,
 Bonnie Benton - 48,
 Bonnie Blum - 35,
 Bonnie Brantley - 68,
 Bonnie Camp - 55,
 Bonnie Dale - 51,
 Bonnie Davis - 64,
 Bonnie Friedman - 57,
 Bonnie Goodwin - 41,
 Bonnie Heath - 37,
 Bonnie Hines - 66,
 Bonnie Hudson - 64,
 Bonnie Kent - 39,
 Bonnie Mann - 25,

###### Ex. Sort the customers by age

In [ ]:
sorted(customers, key = lambda cust : cust.age)

<hr><hr>